---
import Layout from '../../layouts/Layout_yt-vwr.astro';
---

<Layout title="yt-vwr">
	<p>"Users" side-navigation will give a static list of all the users in the "./src/data/users.json" file.</p>
	<p>"Videos" will give a static list of all the videos from "@kathodosdotcom" sourced from the "./src/data/kathodosdotcom.json" file. Use the input in that section to filter the video list; clicking a video link will take you to that video's dynamic path.</p>
	<p>"/yt-vwr/videos" path also has an input for manually entering a Video ID that will start playing immediately.</p>
</Layout>

<style>
</style>
