---
import Layout from '../layouts/Layout.astro';
import YTVwr from '../components/yt-vwr.jsx';
---

<Layout title="yt-vwr">
	<main>
        <YTVwr client:only="react" />
	</main>
</Layout>

<style>
</style>
