---
import Layout from '../../../layouts/Layout_yt-vwr.astro';
import UserList from '../../../data/users.json';
---

<Layout title="Users">
    <h1>Available Users:</h1>
    {UserList.map((user) => (
        <div class="user">
            <a href={"/yt-vwr/users/"+user.name}>{user.name}</a>
        </div>
    ))}
</Layout>

<style>
</style>
